# 
# to be placed at /etc/defaults/celerybeat

# Where to chdir at start.
CELERYBEAT_CHDIR="{{ project_path }}/"

# Path to celerybeat
CELERYBEAT="{{ project_path }}/{{ virtualenv_name }}/bin/django-admin.py celerybeat"

#Full path to the PID file. 
CELERYBEAT_PIDFILE="/var/log/celery/celerybeat.pid"

#Full path to the celeryd log file. 
CELERYBEAT_LOGFILE="/var/log/celery/celerybeat.log"

#Log level to use for celeryd. Default is INFO.
CELERYBEAT_LOG_LEVEL="INFO"


