[Unit]
Description=Celery Beat Service
After=network.target

[Service]
Type=simple
User=celery
Group=celery
EnvironmentFile=/etc/default/celerybeat
ExecStartPre=-+/bin/mkdir -m 0755 /var/run/celery
ExecStartPre=+/bin/chown celery:celery /var/run/celery
WorkingDirectory=/opt/regluit
ExecStart=/bin/sh -c '"${CELERY_BIN}" -A "${CELERY_APP}" beat  \
    --pidfile="${CELERYBEAT_PID_FILE}" \
    --logfile="${CELERYBEAT_LOG_FILE}" --loglevel="${CELERYBEAT_LOG_LEVEL}" \
    "${CELERYBEAT_OPTS}"'


[Install]
WantedBy=multi-user.target