# http://docs.celeryproject.org/en/latest/cookbook/daemonizing.html#generic-initd-celerybeat-example
# to be placed at /etc/defaults/celerybeat

# Where to chdir at start.
CELERYBEAT_CHDIR="{{ project_path }}/"

# Name of the projects settings module.
DJANGO_SETTINGS_MODULE="{{ django_settings_module }}"

# Path to celery
CELERY_BIN="{{ project_path }}/{{ virtualenv_name }}/bin/celery"

# virtualenv to use
VIRTUALENV="{{ project_path }}/{{ virtualenv_name }}"

#Full path to the PID file. Default is /var/run/celeryd.pid
CELERYBEAT_PID_FILE="/var/run/celery/celerybeat.pid"

#Full path to the celeryd log file. Default is /var/log/celeryd.log
CELERYBEAT_LOG_FILE="/var/log/celery/beat.log"

#Log level to use for celeryd. Default is INFO.
CELERYBEAT_LOG_LEVEL="INFO"

CELERY_APP="regluit"

CELERYBEAT_OPTS="--schedule=/var/run/celery/celerybeat-schedule --concurrency=2"